
.jumbotron{
    background-color: whitesmoke;
    display: list-item;
}

#navbarNav1{
    position: fixed;
}

.nav{
  box-shadow: 0px 12px 10px rgba(0 0 0 0.2);
  background-color: aliceblue;
}

.nav-item{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-left: 30px;
}

.nav-link{
  margin-left: 8px;
  color: black;

}

.logo{
  margin-left: 10%;
}